


body{
  font-family: Verdana;
  width: 100%;
  background: gray;
  background: linear-gradient(to right,PowderBlue,DimGray);
}
h1{
  color: DarkSlateGray;
}
h3{
  color: DarkSlateBlue;
  font-size: 18px;
}
